/app.db
/static/uploads/1.jpg
/static/uploads/2.jpg
/static/uploads/13.jpg
/static/uploads/14.jpg
/static/uploads/15.jpg
/static/uploads/16.jpg
/static/uploads/17.jpg
/static/uploads/18.jpg
/static/uploads/19.jpg
/venv/
/migrations/
