alembic==1.7.3
antiorm==1.2.1
boto3==1.18.44
botocore==1.21.44
cffi==1.14.6
click==8.0.1
colorama==0.4.4
db==0.1.1
ExifRead==2.3.2
filesystemlib==0.1.0
Flask==2.0.1
Flask-ImageAlchemy==0.0.7
Flask-Migrate==3.1.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==0.15.1
greenlet==1.1.1
importlib-resources==5.2.2
itsdangerous==2.0.1
Jinja2==3.0.1
jmespath==0.10.0
Mako==1.1.5
MarkupSafe==2.0.1
photos==0.0.5
pycparser==2.20
pyheif==0.5.1
python-dateutil==2.8.2
s3transfer==0.5.0
six==1.16.0
SQLAlchemy==1.4.23
urllib3==1.26.6
Wand==0.6.7
Werkzeug==2.0.1
WTForms==2.3.3
zipp==3.5.0
